html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

html {
    background: #f0ece1a1 !important;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    padding-inline-start: 0px;
}

.postCoverImg {
    transition: all 0.2s;
}

.postCoverImg:hover {
    filter: brightness(0.5);
}

code.il {
    background: #ffe38b;
    padding: 1px 5px;
    font-size: 15px;
}

.preCodeBlock + pre {
    background: #ffe38b;
    padding: 1rem;
    border-radius: 1rem;
    margin: 8px 0 8px 0;
    font-size: 14px;
    overflow-x: scroll;
    width: 100%;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.preCodeBlock + pre::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}